Prediction: I predict that the Linear Regression model will perform better than the Random Forest Classifier model. My reasoning is that this dataset has more numerical data than categorical. The Random Forest Classifier model tends to perform better when there is more categorical data as opposed to numerical and Linear Regression performs better with more numerical data.

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [11]:
# Import the data
data = pd.read_csv('Resources/lending_data.csv')
data

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

In [4]:
X = data[['loan_size','interest_rate','borrower_income','debt_to_income','num_of_accounts','derogatory_marks','total_debt']]
y = data['loan_status']
print("Shape: ", X.shape, y.shape)

Shape:  (77536, 7) (77536,)

In [5]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [6]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [7]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [8]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9919693217774109
Testing Data Score: 0.9920553033429633

In [9]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier().fit(X_train, y_train)
clf

RandomForestClassifier()

In [10]:
print(f"Training Data Score: {clf.score(X_train, y_train)}")
print(f"Testing Data Score: {clf.score(X_test, y_test)}")

Training Data Score: 0.9974377493465401
Testing Data Score: 0.9925711927362774

Results: The Random Forest Classifier model performed slightly better than the Linear Regression model. I suppose the large scale of random sampling done in the RFC model yields a more accurate result than the algorithm within linear regression.